p{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}
.p_margin-18{
    margin-top: revert;
    margin-bottom: revert;
}
.carusel_m-auto{
    display: flex;
    justify-content: center;
}
a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}
a:hover{
    color: black;
}
.btn__hover:focus{
    background-color: rgba(253, 236, 234);
    border: 4px solid rgb(244, 67, 54);
}
.btn__hover:focus > a, .btn__hover:focus > p{
    color:rgb(244, 67, 54);
}
.btn__hover:active{
    background-color:rgb(251, 198, 194);
    border: 4px solid rgb(195, 53, 43);
}
.btn__hover:active > a{
    color:rgb(195, 53, 43);
}
.btn__hover, .btn__header, .btn__search{
    background-color:  rgba(248, 249, 250);
    border: 4px solid rgba(248, 249, 250);
}
.btn__hover:hover, .btn__header:hover, .btn__search:hover{
    background-color: rgba(238, 238, 238);
    border: 4px solid rgba(238, 238, 238);
}
.btn__header:active{
    background-color:rgb(224, 224, 224);
    border: 4px solid rgb(224, 224, 224);
}
.btn__slider:hover{
    border: 4px solid rgb(195, 53, 43);
    border-radius: 4px;
}
.btn__slider:active{
    border: 4px solid rgb(195, 53, 43);
    border-radius: 4px;
    
}
.quantity{
    background-color:rgb(255, 255, 255);
    border: 4px solid rgb(248, 249, 250);
}
.i__1{
    font-size: 80px;
}
.btn__slider{
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}
.btn__slider-bottom{
    height: 200px;
    width: 200px;
    object-fit: cover;
}
.btn__basket{
    background-color:rgb(220, 53, 69);
    border: 4px solid rgb(220, 53, 69);
}
.btn__basket:hover{
    background-color:rgb(187, 45, 59);
    border: 4px solid rgb(187, 45, 59);
}
.text__left{
    text-align: left;
}
.header_mobil{
    display: none;
}
.width_100{
    width: 100%;
}
@media screen and (max-width:992px) {
    #top_menu{
        position: sticky;
        bottom: 0;
        z-index: 10;
    }
    #top_menu-tel{
        position: sticky;
        bottom: 0;
    }
}
@media (min-width: 320px) and (max-width: 576px){
    .btn__slider{
        height: 275px;
        width: 275px;
        object-fit: cover;
    }
    .btn__slider-bottom{
        height: 275px;
        width: 275px;
        object-fit: cover;
    }
    }
    
    @media (min-width: 577px) and (max-width: 768px){
        .btn__slider{
            height: 530px;
            width: 530px;
            object-fit: cover;
        }
        .btn__slider-bottom{
            height: 530px;
            width: 530px;
            object-fit: cover;
        }
    }
    
    @media (min-width: 767px) and (max-width: 992px){
        .btn__slider{
            height: 725px;
            width: 725px;
            object-fit: cover;
        }
        .btn__slider-bottom{
            height: 725px;
            width: 725px;
            object-fit: cover;
        }
    }
    
    @media (min-width: 993px) and (max-width: 1200px){
        .btn__slider{
            height: 225px;
            width: 225px;
            object-fit: cover;
        }
        .btn__slider-bottom{
            height: 170px;
            width: 170px;
            object-fit: cover;
        }
    }
    
    @media (min-width: 1201px) and (max-width: 1400px){
        .btn__slider{
            height: 275px;
            width: 275px;
            object-fit: cover;
        }
        .btn__slider-bottom{
            height: 205px;
            width: 205px;
            object-fit: cover;
        }
    }
    @media (min-width: 1401px) and (max-width: 1600px){
        .btn__slider{
            height: 320px;
            width: 320px;
            object-fit: cover;
        }
        .btn__slider-bottom{
            height: 240px;
            width: 240px;
            object-fit: cover;
        }
    }
    @media (min-width: 993px){
        .row__lg{
                --bs-gutter-x: 1.5rem;
                --bs-gutter-y: 0;
                display: flex;
                flex-wrap: wrap;
                margin-top: calc(-1 * var(--bs-gutter-y));
                margin-right: calc(-.5 * var(--bs-gutter-x));
                margin-left: calc(-.5 * var(--bs-gutter-x));
                width: auto;
        }
    }
    @media (max-width: 992px){
        .row__min{
            display: flex!important;
    }
    }