body{
    cursor: default;
    font-family: 'Inter', sans-serif;
}
.cover_top{
    height: 18px;
    background-color: rgba(255, 255,255);
    position: relative;
    z-index: 2;
}
.cover_top1{
    height: 500px;
    background-color: rgba(255, 255,255, 0);
    position: absolute;
    z-index: 1;
}
.bi-person-fill{
    font-size: 18px;
}
.header_box{
    height: 84px; /* 76 + 8 */
    position: sticky;
    top: -8px; 
    z-index: 2;    
}
.header_box::before,.header_box::after {
    content: '';
    display: block;
    height: 8px;
    position: sticky;
}
.header_box::before {
    top: 66px; /* 76 - 8 */
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 15%);
}
.header_box::after {
    background: linear-gradient(white, rgba(255,255,255,1));
    top: 0;
    z-index: 2;
}
.header_box >div {
    background: white;
    height: 76px;
    position: sticky;
    top: 0px;
    margin-top: -8px;
    z-index: 3;
}
.input_cearh{
    color: #616161; 
    font-weight: 500;
}
.input_cearh::placeholder{
    position: absolute;
    top: 14px; /* adjust icon position */
    left: 10px;
    background-image: url("../img/search-svgrepo-com.svg"); /* all icons in a single file */
    background-repeat: no-repeat;
    background-size:17px;
    padding-left: 25px;
    
}
.input_cearh:focus::placeholder{
    opacity: 0; 
    transition: opacity 0.3s ease;
}
.basket__top:focus{
    background-color: rgba(229, 57, 53, 1);
    border: 4px solid rgba(229, 57, 53, 1);
}
.basket__top:focus>a>p{
    color: rgba(255,255,255,1);
}
p{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    align-items: center;
}
.p_margin-18{
    margin-top: revert;
    margin-bottom: revert;
}
.carusel_m-auto{
    display: flex;
    justify-content: center;
}
a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    margin: auto;
}
a:hover{
    color: black;
}
.btn__hover-mobil:focus>a>i, .btn__hover-mobil:focus>a>p{
    color:rgb(244, 67, 54);
}
.btn__hover:focus{
    background-color: rgba(253, 236, 234);
    border: 4px solid rgb(244, 67, 54);
}
.btn__hover:focus > a, .btn__hover:focus > p{
    color:rgb(244, 67, 54);
}
.btn__hover:active{
    background-color:rgb(251, 198, 194);
    border: 4px solid rgb(195, 53, 43);
}
.btn__hover:active > a{
    color:rgb(195, 53, 43);
}
.bg-red{
    background: rgba(229, 57, 53, 0.1);

}
.btn__hover-red{
    cursor: pointer;
}
.btn__hover-red>a{
    color:rgb(244, 67, 54);
}
.btn__hover-red:focus>a{
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid rgb(195, 53, 43);
    border-radius:4px;
}
.align-items{
    display: flex;
    align-items: center;
}
.btn_60{
    height: 60px;
    display: flex;
}
.btn_50, .btn_40{
    height: 50px;
}
.btn_50>p, .btn_40>a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.btn__hover, .btn__header, .btn__search, .btn__hover-mobil, .basket__top{
    background-color:  rgba(248, 249, 250);
    border: 4px solid rgba(248, 249, 250);
}
.btn__hover:hover, .btn__header:hover, .btn__search:hover, .btn__hover-mobil:hover, .basket__top:hover{
    cursor: pointer;
    background-color: rgba(238, 238, 238);
    border: 4px solid rgba(238, 238, 238);
}
.btn__header:active{
    background-color:rgb(224, 224, 224);
    border: 4px solid rgb(224, 224, 224);
}
.btn__slider{
    border: 4px solid rgb(195, 53, 43, 0);
    border-radius: 4px;
}
.btn__slider:hover{
    cursor: pointer;
    border: 4px solid rgb(195, 53, 43);
    border-radius: 4px;
}
.btn__slider:active{
    border: 4px solid rgb(195, 53, 43);
    border-radius: 4px;
    
}
.quantity{
    background-color:rgb(255, 255, 255);
    border: 4px solid rgb(248, 249, 250);
}
.i__1{
    font-size: 80px;
}
.btn__basket{
    background-color:rgb(220, 53, 69);
    border: 4px solid rgb(220, 53, 69);
}
.btn__basket:hover{
    cursor: pointer;
    background-color:rgb(187, 45, 59);
    border: 4px solid rgb(187, 45, 59);
}
.text__left{
    text-align: left;
}
.header_mobil{
    display: none;
}
.width_100{
    width: 100%;
}
.btn_energi{
    background-color: rgba(238, 238, 238);
}
.border__none:focus{
    box-shadow: none;
    border:none;
    background-color: rgba(248,249,250);
}
.product_prise-iner{
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    color: rgb(97, 97, 97);
}
.position_absolut{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
    top: 0;
}
.position_absolut1{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 4;
    top: 0;
}
.owl-dots{
    margin-top: 16px;
    display: flex;
    justify-content: center;
}
.owl-dots>button.owl-dot.active{
    background: rgba(229, 57, 53, 1);
    color: inherit;
    border: none;
    padding: 10px;
    font: inherit;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.owl-dots>button.owl-dot{
    background: rgba(248, 249, 250);
    color: inherit;
    border: none;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    
    font: inherit;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.btn_serch-mobil{
    height: 60px;
    width: 60px;
}
.minus, .plus{
    height: 50px;
    width: 50px;
}
.minus>div{
    height: 100%;
}
.minus>div>img, .plus>div>img{
    display: block;
    align-items: center;
    height: 100%;
    width: 100%;
}
.font_mobil>i{
    font-size: 20px;
}
.font_mobil>p{
    font-size: 14px;
}
.stik{
    position: absolute;
    top: 16px;
    left: 16px;
}
.new_stik{
    height: 40px;
    width: 80px;    
    display: flex;
    margin-bottom: 8px;
    border-radius: 4px;
}
.new_stik>p{
    color: rgba(255,255,255,1);
    font-weight: bold;
    text-align: center;
    align-items: center;
    margin: auto;
}
.new_stik-red{
    background: rgba(229, 57, 53);
}
.new_stik-blu{
    background:rgba(33, 150, 243, 1);
    ;
}
a[data-fancybox] img {
    cursor: zoom-in;
}
button.btn_serch-mobil>i{
    font-size: 36px;
}
.chevron_button{
    position: absolute;
    right: -6px;
    top: -62px;
}
.chevron_button>button{
    margin: 8px;
}
.chevron_button>button>i{
    font-size: 21px;
    background-color:  rgba(248, 249, 250);
    border: 4px solid rgba(248, 249, 250);
    border-radius: 4px;
    padding: 8px;
}
.chevron_button>button>i:hover{
    background-color: rgba(238, 238, 238);
    border: 4px solid rgba(238, 238, 238);
}
.bg__red-mobil{
    width: 100%;
    margin-left: -10px;
    margin-right: -10px;
    background-color: rgba(229, 57, 53, 0.1);
}
.translate__middle {
    transform: translate(60%,10%)!important;
}
@media screen and (max-width:992px) {
    #top_menu{
        position: sticky;
        bottom: 0;
        z-index: 10;
    }
    #top_menu-tel{
        position: sticky;
        bottom: 0;
    }
    .img_min{
        height: 64px;
        width: 64px;
    }
    .bg__red-mobil{
        height: 60px;
        position: absolute;
        background-color: rgba(229, 57, 53, 0.1);
    }
}
@media (min-width: 320px) and (max-width: 992px){
    .img-kategori{
        display: none;
    }
    }
    
    @media (min-width: 993px){
        .row__lg{
                --bs-gutter-x: 1.5rem;
                --bs-gutter-y: 0;
                display: flex;
                flex-wrap: wrap;
                margin-top: calc(-1 * var(--bs-gutter-y));
                margin-right: calc(-.5 * var(--bs-gutter-x));
                margin-left: calc(-.5 * var(--bs-gutter-x));
        }
        
    }
    @media (max-width: 992px){
        .row__min{
            display: flex!important;
    }
    .row__none{
        display: none;
    }
    }
    @media (min-width: 576px){
        .container {
            max-width: 768px;
        }
        }
        
    @media (min-width: 768px){
        .container {
            max-width: 992px;
        }
        }
        
    @media (min-width: 992px){
        .container {
            max-width: 1200px;
        }
        }
        
    @media (min-width: 1200px){
        .container {
            max-width: 1400px;
        }
        }
        
    @media (min-width: 1400px){
        .container {
            max-width: 1600px;
        }
        }